<body>
<div class="container" id="spellFormEdit">
  <div class="form-body">
    <div class="form-holder"></div>
    <div class="form-content">
      <div class="form- items">
        <h1>Editer ce sort : <strong>{{currentSpell?.title}}</strong></h1>
        <form [formGroup]="spellFormEdit" #spell="ngForm" (ngSubmit)="addSpellAfterEdit(spell.value)">

          <div class="col-md-12" hidden>
            <div class="form-group" >
              <label for="id"><strong>Id :</strong></label>
              <input formControlName="id" id="id" type="number" class="form-control">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="title"><strong>Title :</strong></label>
              <input formControlName="title" id="title" type="text" class="form-control">
              <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
                <div *ngIf="f['title'].errors && f['title'].errors['minlength']">title should be 3 characters long at least.</div>
                <div *ngIf="f['title'].errors && f['title'].errors['required']">title is required.</div>
                <div *ngIf="f['title'].errors && f['title'].errors['maxlength']">title should be < 65 characters.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <div container-fluid>
                <div><label><strong>Type personnalisé de sort : </strong></label>
                  <div class="d-flex flex-wrap">
                    <div id="customType" *ngFor="let customType of customTypeOfSpells">
                      <input formControlName="customTypeOfSpellName" type="radio" name="customTypeOfSpellName"
                             value="{{customType.customTypeOfSpellName}}"
                             ngModel name="customTypeOfSpellName">{{customType.customTypeOfSpellName}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="f['customTypeOfSpellName'].touched && f['customTypeOfSpellName'].invalid"
                 class="alert alert-danger">
              <div *ngIf="f['customTypeOfSpellName'].errors && f['customTypeOfSpellName'].errors['required']">
                customTypeOfSpellName is required.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label id="school"><strong>Ecole : </strong></label>
              <div class="d-flex flex-wrap" id="schoolRadios">
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="ABJURATION" ngModel name="school"
                         checked="checked"> Abjuration
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="DIVINATION" ngModel name="school">
                  Divination
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="ENCHANTEMENT" ngModel name="school">
                  Enchantement
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="EVOCATION" ngModel name="school">
                  Evocation
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="ILLUSION" ngModel name="school">
                  Illusion
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="INVOCATION" ngModel name="school">
                  Invocation
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="NECROMANCIE" ngModel name="school">
                  Necromancie
                </div>
                <div class="schoolRadio">
                  <input formControlName="school" type="radio" name="school" value="TRANSMUTATION" ngModel
                         name="school">
                  Transmutation
                </div>
              </div>
            </div>
            <div *ngIf="f['school'].touched && f['school'].invalid" class="alert alert-danger">
              <div *ngIf="f['school'].errors && f['school'].errors['required']">School is required.</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="level"><strong>Niveau :</strong> </label>
              <input formControlName="level" id="level" type="number" class="form-control" ngModel name="level">
              <div *ngIf="f['level'].touched && f['level'].invalid" class="alert alert-danger">
                <div *ngIf="f['level'].errors && f['level'].errors['required']">Level is required.</div>
                <div *ngIf="f['level'].errors && f['level'].errors['minlength']">Level should be >= 0.</div>
                <div *ngIf="f['level'].errors && f['level'].errors['maxlength']">level is too high 100 max.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div>Composants: </div>
            <div class="form-group">
              <label for="componentsNames"></label>
              <select formControlName="componentsNames" id="componentsNames" name="componentsNames" ngModel
                      name="componentsNames"
                      size="6" multiple>
                <option value="verbale" selected>Verbale</option>
                <option value="gestuelle">Gestuelle</option>
                <option value="materielle">Materielle</option>
                <option value="focalisateur">Focalisateur</option>
                <option value="focalisateur divin">Focalisateur Divin</option>
                <option value="Xp">Xp</option>
              </select>
            </div>
            <div *ngIf="f['componentsNames'].touched && f['componentsNames'].invalid" class="alert alert-danger">
              <div *ngIf="f['componentsNames'].errors && f['componentsNames'].errors['required']">Components are required.</div>
            </div>
          </div>

          <div class="col-md-12">
            <div><strong>Classes : </strong></div>
            <div class="form-group">
              <label for="characterClassesNames"></label>
              <select formControlName="characterClassesNames" id="characterClassesNames" name="characterClassesNames"
                      ngModel
                      name="characterClassesNames" size="4"
                      multiple>
                <option value="mage du chaos" selected>Mage</option>
                <option value="barde">Barde</option>
                <option value="prêtre">Prêtre</option>
                <option value="paladin">Paladin</option>
                <option value="druide">Druide</option>
              </select>
              <div *ngIf="f['characterClassesNames'].touched && f['characterClassesNames'].invalid" class="alert alert-danger">
                <div *ngIf="f['characterClassesNames'].errors && f['characterClassesNames'].errors['required']">CharacterClass are required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="castingTime"><strong>Temps d'incantation : </strong></label>
              <input formControlName="castingTime" type="castingTime" ngModel name="castingTime" class="form-control"
                     id="castingTime"
                     placeholder="castingTime" required>
              <div *ngIf="f['castingTime'].touched && f['castingTime'].invalid" class="alert alert-danger">
                <div *ngIf="f['castingTime'].errors && f['castingTime'].errors['minlength']">castingTime should be 3 characters long at least.</div>
                <div *ngIf="f['castingTime'].errors && f['castingTime'].errors['required']">castingTime is required.</div>
                <div *ngIf="f['castingTime'].errors && f['castingTime'].errors['maxlength']">castingTime should be < 65 characters.</div>
              </div>
              </div>
            </div>


          <div class="col-md-12">
            <div class="form-group">
              <label for="range"><strong>Portée : </strong></label>
              <input formControlName="range" type="text" ngModel name="range" class="form-control" id="range"
                     placeholder="range" required>
              <div *ngIf="f['range'].touched && f['range'].invalid" class="alert alert-danger">
                <div *ngIf="f['range'].errors && f['range'].errors['minlength']">range should be 3 characters long at least.</div>
                <div *ngIf="f['range'].errors && f['range'].errors['required']">range is required.</div>
                <div *ngIf="f['range'].errors && f['range'].errors['maxlength']">range should be < 65 characters.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="target"><strong>Cible : </strong></label>
              <input formControlName="target" type="target" ngModel name="target" class="form-control" id="target"
                     placeholder="target" required>
              <div *ngIf="f['target'].touched && f['target'].invalid" class="alert alert-danger">
                <div *ngIf="f['target'].errors && f['target'].errors['minlength']">target should be 3 characters long at least.</div>
                <div *ngIf="f['target'].errors && f['target'].errors['required']">target is required.</div>
                <div *ngIf="f['target'].errors && f['target'].errors['maxlength']">target should be < 65 characters.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="duration"><strong>Durée : </strong></label>
              <input formControlName="duration" type="duration" ngModel name="duration" class="form-control"
                     id="duration"
                     placeholder="duration" required>
              <div *ngIf="f['duration'].touched && f['duration'].invalid" class="alert alert-danger">
                <div *ngIf="f['duration'].errors && f['duration'].errors['minlength']">duration should be 3 characters long at least.</div>
                <div *ngIf="f['duration'].errors && f['duration'].errors['required']">duration is required.</div>
                <div *ngIf="f['duration'].errors && f['duration'].errors['maxlength']">duration should be < 65 characters.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label><strong>Jet de sauvegarde : </strong></label>
              <input formControlName="savingThrow" type="savingThrow" ngModel name="savingThrow" class="form-control"
                     id="spellResistance"
                     placeholder="savingThrow" required>
              <div *ngIf="f['savingThrow'].touched && f['savingThrow'].invalid" class="alert alert-danger">
                <div *ngIf="f['savingThrow'].errors && f['savingThrow'].errors['minlength']">Icon should be 3 characters long at least.</div>
                <div *ngIf="f['savingThrow'].errors && f['savingThrow'].errors['required']">Icon is required.</div>
                <div *ngIf="f['savingThrow'].errors && f['savingThrow'].errors['maxlength']">Icon should be < 65 characters.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="spellResistance"><strong>Résistance : </strong></label>
              <input formControlName="spellResistance" type="radio" name="spellResistance" value="true" ngModel
                     name="spellResistance" checked="checked"> Vrai
              <input formControlName="spellResistance" type="radio" name="spellResistance" value="false" ngModel
                     name="spellResistance"> Faux
            </div>
            <div *ngIf="f['spellResistance'].touched && f['spellResistance'].invalid" class="alert alert-danger">
              <div *ngIf="f['spellResistance'].errors && f['spellResistance'].errors['required']">spellResistance is required.</div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="shortDescription"><strong>Description courte : </strong></label>
              <input formControlName="shortDescription" type="shortDescription" ngModel name="shortDescription"
                     class="form-control"
                     id="shortDescription"
                     placeholder="shortDescription" required>
              <div *ngIf="f['shortDescription'].touched && f['shortDescription'].invalid" class="alert alert-danger">
                <div *ngIf="f['shortDescription'].errors && f['shortDescription'].errors['minlength']">shortDescription should be 3 characters long at least.</div>
                <div *ngIf="f['shortDescription'].errors && f['shortDescription'].errors['required']">shortDescription is required.</div>
                <div *ngIf="f['shortDescription'].errors && f['shortDescription'].errors['maxlength']">shortDescription should be < 250 characters.</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="fullDescription"><strong>Description complète : </strong></label>
              <input formControlName="fullDescription" type="fullDescription" ngModel name="fullDescription"
                     class="form-control"
                     id="fullDescription"
                     placeholder="fullDescription" required>

              <div *ngIf="f['fullDescription'].touched && f['fullDescription'].invalid" class="alert alert-danger">
                <div *ngIf="f['fullDescription'].errors && f['fullDescription'].errors['required']">fullDescription is required.</div>
                <div *ngIf="f['shortDescription'].errors && f['shortDescription'].errors['minlength']">fullDescription should be 3 characters long at least.</div>
                <div *ngIf="f['fullDescription'].errors && f['fullDescription'].errors['maxlength']">fullDescription is too long, should be 250 characters max.</div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="icon"><strong>Icon : </strong></label>
              <input formControlName="icon" type="icon" ngModel name="icon" class="form-control" id="icon"
                     placeholder="icon">
              <div *ngIf="f['icon'].touched && f['icon'].invalid" class="alert alert-danger">
                <div *ngIf="f['icon'].errors && f['icon'].errors['minlength']">Icon should be 3 characters long at least.</div>
                <div *ngIf="f['icon'].errors && f['icon'].errors['required']">Icon is required.</div>
                <div *ngIf="f['icon'].errors && f['icon'].errors['maxlength']">Icon should be < 250 characters.</div>
              </div>
            </div>

            <div class="saveButton">
              <button type="submit" [disabled]="spellFormEdit.invalid" id="add-spell-form" class="btn btn-dark">Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
