

html, body {
  height: 100%;
  background-color: #152733;
  overflow: hidden;
}



.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  border-radius: 10px;
  text-align: left;

}

.form-content h3 {

  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

