body {
  background-color: rgb(8, 6, 10);
  background-image: url("src/assets/images/backgrounds/spellBackground.png");
  background-repeat: no-repeat;
  background-attachment: scroll; /* or 'fixed' if you want it to stay in place when scrolling */
  background-position: center center;
  background-size: contain; /* 'contain' will make sure the entire image is visible */
  min-height: 100vh;
}

/* Bar Color */
.barColor {
  padding-top: 2%;
  background-color: rgb(217, 193, 241);
}

/* Typography */
h1, h2 {

  font-family: 'Libre Baskerville', serif;


}
h1{
  color: #0c0c0c;
   text-shadow: #7b00ff 1px 0 10px; /* Horizontal shadow, Vertical shadow, Blur radius, Color */
}
h2{
  color: #ffffff;
  text-shadow: #6600ff 1px 0 10px; /* Horizontal shadow, Vertical shadow, Blur radius, Color */
}


#generalPage {
  min-height: 90vh; /* Set minimum height to fill the viewport */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between items, pushing the last item to the bottom */
}


.dicesAndEffects {
  display: flex;
  justify-content: center; /* Centers the dices horizontally */
  align-items: center; /* Aligns the dices vertically */
  padding-bottom: 20px; /* Adjust this value as needed to bring dices closer to the bottom */
}

.container {
  padding-bottom: 20px; /* Adjust the bottom padding for the overall container */
}

/* Dice Images and Hover Effects */
.dice{
  height: 150px;
  width: auto; /* This will maintain the aspect ratio */
}

/* Success and Failure Containers */
.successContainer,
.failureContainer {

  margin: 0 100px; /* Add margin to space out the dice */
}

#imageSuccess, #imageFailure {
  transition: .5s ease;
}

#imageSuccess:hover, #imageFailure:hover {
  opacity: 0.3;
}


#Outcome, #SuppOutcomeButton, #additionalOutcome {
  padding-top: 2%;
}

/* Success and Failure Containers */
#success, #failure {
  background-color: #860606; /* Red for failure */
  color: white;
  text-align: center;
  font-family: 'Times New Roman', cursive;
  opacity: 0.5;
}

#success {
  background-color: #138f07; /* Green for success */
}

/* Mobile parameters */
@media only screen and (max-width: 600px) {
  h1,h2 {
    font-size: 1.2rem; /* Smaller font size for mobile */
  }

  .dicesAndEffects {
    flex-direction: row; /* Keeps dices in a horizontal line */
    justify-content: space-around; /* Spreads out the dices with space around them */
    padding-bottom: 200px; /* Adjust as needed for mobile view */
  }

  .dice{
    height: 60px; /* Smaller size for mobile */
    width: auto; /* This will maintain the aspect ratio */
  }
  .successContainer,
  .failureContainer {
    margin: 0 30px; /* Reduce the margin for mobile */
  }
}


/* Animation Effects */
/*====================*/
/* BUZZ OUT
/*====================*/

@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  /*transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
}

.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

