<body>
<div class="d-flex align-items-center justify-content-center barColor">
  <h1>Après avoir lancé ton Dé, ton Sort a :</h1>
</div>

<div class="container" id="generalPage">
  <div id="spellCastingOutcome">
    <!-- Outcome description -->
    <div class="d-flex align-items-center justify-content-center" id="Outcome">
      <div>{{ spellCastingOutcome?.icon }}</div>
      <h2>{{ spellCastingOutcome?.description }}</h2>
    </div>

    <!-- Button for additional outcome -->
    <div class="d-flex align-items-center justify-content-center" id="SuppOutcomeButton">
      <button class="btn btn-dark" *ngIf="spellCastingOutcome?.hasARandomAdditionalEffect" (click)="onGetAnAdditionalRandomOutcome()">Effet Supplémentaire</button>
    </div>

    <!-- Additional outcome description -->
    <div class="d-flex align-items-center justify-content-center" id="additionalOutcome">
      <div>{{ additionalRandomOutcome?.icon }}</div>
      <h2>{{ additionalRandomOutcome?.description }}</h2>
    </div>
  </div>

  <!-- Dices and Effects -->
  <div class="dicesAndEffects">
    <!-- Success container -->
    <div class="successContainer text-center">
      <a class="buzz-out-on-hover">
        <img class="img-fluid dice" src="assets/images/logos/successDice.png" alt="Success Dice Image" (click)="getAspellCastingOutcome(true)">
      </a>
      <p id="success">Réussi !</p>
    </div>

    <!-- Failure container -->
    <div class="failureContainer text-center">
      <a class="buzz-out-on-hover">
        <img class="img-fluid dice" src="assets/images/logos/failureDice.png" alt="Failure Dice Image" (click)="getAspellCastingOutcome(false)">
      </a>
      <p id="failure">Echoué</p>
    </div>
  </div>
</div>
</body>
