<div class=" bg-dark text-white">
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="row">
        <div class="col"><a href="/contact">Contact</a></div>
        <div class="col"><a href="/mentionsLegales">Mentions Légales</a></div>
      </div>
      <div>

      </div>
    </div>

    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-sm-4">
          <img alt="logo de facebook"
               class="img fluid"
               src="https://drive.google.com/uc?id=1JoBhAktc6rJ64BYZUhZgsKARrkHCUzwy"
               width="70"
               height="70" alt="Google Drive Image">
        </div>
        <div class="col-sm-4">
          <img alt="Instagram"
               class="img fluid"
               src="https://drive.google.com/uc?id=1OGTmQZoVHXpNsLvp108enCqf5cafZkqb"
               width="70"
               height="70" alt="Google Drive Image">

        </div>
        <div class="col-sm-4">
          <img alt="logo de twitter"
               class="img fluid"
               src="https://drive.google.com/uc?id=1BGAun_WGpgUVIWkukb4qnhQY9PUBSesi"
               width="70"
               height="70" alt="Google Drive Image">
        </div>
      </div>
    </div>

  </div>
</div>
