<!-- Footer HTML -->
<div class="bg-dark text-white pt-3 pb-3"> <!-- Added padding top and bottom -->
  <div class="container">
    <div class="row text-center"> <!-- Center text and items -->
      <div class="col-12 col-md-6 mb-3 mb-md-0"> <!-- Stack vertically on small, horizontal on medium -->
        <a href="/contact">Contact</a> | <a href="/mentionsLegales">Mentions Légales</a>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-4 px-1"> <!-- Adjust padding here -->
            <img alt="Facebook Logo"
                 class="img-fluid facebook-logo"
                 src="assets/images/logos/facebook.png">
          </div>
          <div class="col-4 px-1">
            <img alt="Instagram Logo"
                 class="img-fluid instagram-logo"
                 src="assets/images/logos/instagram.png">
          </div>
          <div class="col-4 px-1">
            <img alt="Twitter Logo"
                 class="img-fluid twitter-logo"
                 src="assets/images/logos/tweeter.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
