<div class="mt-5 p-4 bg-dark text-white text-center">

  <div class=contenu_footer>

    <div class="part_supp_footer">

      <div class="mentionsEtContact">
        <div class=contact>
          <a href="/contact">Contact</a>
        </div>
        <div class=mentions_legales>
          <a href="/mentionsLegales">Mentions Légales</a>
        </div>
      </div>
      <div class="logos_footer">
        <div class=logo_facebook>
          <img alt="logo de facebook"
               src="\imagesAndLogos\logos\facebook.png">
        </div>

        <div class=logo_twitter>
          <img alt="logo de twitter" src="\imagesAndLogos\logos\twitter.png">
        </div>

        <div class=logo_instagram>
          <img alt="logo d'instagram"
               src="\imagesAndLogos\logos\instagram.png">
        </div>
      </div>
    </div>
    <div class="part_inf_footer">
      <p>tous droits réservés @D&Friends.com</p>
    </div>


  </div>
</div>
