<body>
<div class="container">
<div class="col-sm-4">
  <img class="img-fluid" width="500" height="400"
       src="/images/roliste.jpg" alt="groupe.jpg">
</div>
<div class="col-sm-6" id="text_article">
  <h2>Les grandes vacances approchent, pensez à vous inscrire pour la prochaine session !</h2>
  <p>PS n'oubliez pas vos dés, le MJ en a mais ce n'est pas une ressource illimitée vous savez!</p>
</div>


<div class="col-sm-4">
  <img class="img-fluid" width="500" height="400"
       src="/images/dés.jpg" alt="dés.jpg">
</div>
</div>
</body>
