
<body>
<div class="container">
<article>
  <div class=image_group>
    <img class="img-fluid" src="\imagesAndLogos\images\groupPicture.jpg"
         alt="groupPicture.jpg">
  </div>
  <div>
    <h2> Qui Sommes Nous?</h2>
    <p>
      Nous sommes un groupe d'amis qui aimons particulièrement jouer à des jeux de rôle sur table. Nous utilisons le
      support Donjon et Dragons© version 3.5 pour nos aventures dans une version adaptée aux besoins des joueurs.
      Nous voulons partager notre passion.
    </p>
    <h3>
    Nous vous souhaitons la Bienvenue parmis nous !
    </h3>
  </div>

</article>
</div>
</body>
