<body>
<div class="barColor"></div>
<div class="container">
  <article>
    <div>
      <h1>
        Bienvenue parmis nous !
      </h1>
      <h2> Vous vous demandez peut être qui nous sommes ?</h2>
      <p>
        Nous sommes un groupe d'amis qui aimons particulièrement jouer à des jeux de rôle sur table. Nous utilisons le
        support Donjon et Dragons© version 3.5 pour nos aventures dans une version adaptée aux besoins des joueurs.
        Nous voulons partager notre passion.
      </p>
      <p>
        Nous sommes aussi entre autre des Paladins, des Musiciens, des Illustrateurs, des Développeurs des Elfes, des
        Nelfes des Chats...
      </p>
      <div>
        <img src="https://drive.google.com/uc?id=1dKve2rT2ekyCQNkgundbQto65cjAeqZM" alt="Avatar Logo"
             style="width:300px;">
      </div>
      <p>
        D'ailleurs en parlant d'illustrateur hop le lien vers les sites des copains ^^. D'ailleurs un projet est peut
        être en préparation, en collaboration...
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <a href="https://sbz57000.tumblr.com/">
          <img target="_blank" src="https://drive.google.com/uc?id=13_Q80Ox6U8so7O6XiB8iGihVf_jCsJZF" alt="Avatar Logo"
               style="width:300px">
        </a>
      </div>

    </div>
  </article>
</div>
<div class="barColor"></div>
</body>
