body {

  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(161, 112, 238, 0.56);
  font-family: 'Libre Baskerville', serif;
  color: #0c0c0c;

}
#totalSpellListList{
  padding-top: 2%;
  padding-left: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:2%;
}


#descriptionSpellList h1{
  font-style: italic;

}

#descriptionSpellList{
  border: 1px solid black;
  padding-top: 2%;
  padding-left: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:2%;
  background-image: url("src/assets/images/backgrounds/parchemin.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
#buttons{
  padding-top: 2%;
}
#buttons #addButton {
  padding-top: 2%;
}
#buttons #editButton {
  padding-top: 2%;
}
#buttons #deleteButton {
  padding-top: 2%;
}
.btn-secondary {
  background-color: #38b059;
  border: none;
}
.btn-secondary:hover  {
  background-color: #1a8339;
  border: none;
}

.btn-primary  {
  background-color: #953df8;
  border: none;
}

.btn-primary:hover  {
  background-color: #780cfc;
  border: none;
}

.btn-danger{
  background-color: #111111;
  border: none;
}
.btn-danger:hover{
  background-color: #fc0202;
}
@media only screen and (max-width: 768px) {
  body{
    font-size: 1rem; /* Smaller font size for mobile */
  }
  #descriptionSpellList {
    padding-left: 20px; /* Adds space on the left */
    padding-right: 20px; /* Adds space on the right */
  }
}
